# DataFrames III: Data Extraction

In [1]:
import pandas as pd

## This Module's Dataset

   - This module's dataset is a collection of all James Bond movies.

In [2]:
bond = pd.read_csv("jamesbond.csv")
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

## 1. The `set_index` and `reset_index` Methods

- The index serves as the collection of **primary identifiers**/labels/entry points for the rows.
- The **fastest way** to extract a row is from a sorted index by position/label.
- Pandas uses index labels/values when **merging** different objects together.
- The `set_index` method sets an existing column as the index of the DataFrame.
- The `reset_index` method sets the standard ascending numeric index as the index of the DataFrame.

In [3]:
bond = bond.set_index("Film") # makes column into index label
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [4]:
bond.reset_index() # takes old index label column, puts it back as normal colummn in Df, and assigns it default numeric number
bond.reset_index(drop = True) # does not retain old index label column, and assigns default numeric number

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [5]:

bond.reset_index().sort_values(by = "Box Office", ascending = False).set_index("Box Office") # we can also combine: first put current index label back in Df, then set other column as index label

,Film,Year,Actor,Director,Budget,Bond Actor Salary
Box Office,,,,,,
943.5,Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
848.1,Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
820.4,Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
726.7,Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
581.5,Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
543.8,From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
535.0,Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
533.0,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
518.5,GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
514.2,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4
514.2,Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
465.4,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
463.2,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
460.3,Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
449.4,For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
448.8,Dr. No,1962,Sean Connery,Terence Young,7.0,0.6
442.5,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
439.5,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
380.0,Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
373.8,Octopussy,1983,Roger Moore,John Glen,53.9,7.8
334.0,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
315.0,Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
313.5,The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
291.5,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
275.2,A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
250.9,Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9

## 2. Retrieve Rows by Index Position with `iloc` Accessor

- The `iloc` accessor retrieves one or more rows by index position.
- Provide a pair of square brackets after the accessor.
- `iloc` accepts single values, lists, and slices.

In [6]:
# combine row and column indexing by giving 2nd argument

bond.loc["Diamonds Are Forever", "Director"] # specify where to look for row (first arg) & which column (second arg)
bond.loc[["Diamonds Are Forever", "GoldenEye"], "Director"] # look into multiple rows by putting inside list
bond.loc[["Diamonds Are Forever", "GoldenEye"], "Director":"Budget"] #look into 2 rows and from 1 column to another one

                             Director  Box Office  Budget
Film
Diamonds Are Forever     Guy Hamilton       442.5    34.7
GoldenEye             Martin Campbell       518.5    76.9

In [7]:
# works same for iloc, both rows and columns have numeric indices

bond.iloc[0,2]
bond.iloc[[2,7],:3]

                      Year         Actor      Director
Film
Goldfinger            1964  Sean Connery  Guy Hamilton
Diamonds Are Forever  1971  Sean Connery  Guy Hamilton

## 3. Overwrite Value in a DataFrame

- Use the `iloc` or `loc` accessor on the DataFrame to target a value, then provide the equal sign and a new value.

In [8]:
# simply add an equal sign and a new value to assign a new value

bond.loc["Diamonds Are Forever", "Director"] = "Joske van op't hoekse"
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Joske van op't hoekse,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

## 4. Overwrite Multiple Values in a DataFrame

- The `replace` method replaces all occurrences of a Series value with another value (think of it like "Find and Replace").
- To overwrite multiple values in a DataFrame, remember to use an accessor on the DataFrame itself.
- Accessors like `loc` and `iloc` can accept Boolean Series. Use them to target the values to overwrite.

In [9]:
bond = pd.read_csv("jamesbond.csv")
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [10]:
# if we want to replace all values of "Sean" by "Sir", there are several ways to go:

# 1) use replace() method & assign

bond["Actor"] = bond["Actor"].replace("Sean Connery", "Sir Connery")
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sir Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sir Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sir Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sir Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sir Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sir Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sir Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [11]:
# 2) use .loc and boolean series

bond = pd.read_csv("jamesbond.csv")
is_sean_connery = bond["Actor"] == "Sean Connery"
bond.loc[is_sean_connery, "Actor"] = "Sir Sean Connery"
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

## 5. Rename Index Labels or Columns in a DataFrame

- The `rename` method accepts a dictionary for either its `columns` or `index` parameters.
- The dictionary keys represent the existing names, and the values represent the new names.
- We can replace all columns by overwriting the DataFrame's `columns` attribute.

In [12]:
# load dataset

bond = pd.read_csv("jamesbond.csv", index_col = "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [13]:
bond = bond.rename(columns={"Year": "Year of Release", "Box Office":"Revenue"}).head() # to replace names of columns: use dict, key = current name, value = new name
bond

,Year of Release,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [14]:
# change names of rows, works the same, but with parameter index

bond = bond.rename(index = {"A View to a Kill": "View", "Casino Royale": "Casino"})
bond

,Year of Release,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
View,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

## 6. Delete Rows or Columns from a DataFrame

- The `drop` method deletes one or more rows/columns from a DataFrame.
- Pass the `index` or `columns` parameters a list of the column names to remove.
- The `pop` method removes and returns a single Series (it mutates the DataFrame in the process).
- Python's `del` keyword also removes a single Series.

In [15]:
# load dataset

bond = pd.read_csv("jamesbond.csv", index_col = "Film").sort_index()
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [16]:
# 3 ways to remove

# a) columns and rows: .drop() method

bond.drop(columns = ["Actor", "Bond Actor Salary"]) # remove selected columns 
bond.drop(index = ["From Russia with Love", "Casino Royale"]) # remove selected rows (if name occurs multiple times, all instances will be removed)
bond.drop(index = ["From Russia with Love", "Casino Royale"], columns = ["Actor", "Bond Actor Salary"]) # remove both selected columns and rows

                                 Year            Director  Box Office  Budget
Film
A View to a Kill                 1985           John Glen       275.2    54.5
Diamonds Are Forever             1971        Guy Hamilton       442.5    34.7
Die Another Day                  2002        Lee Tamahori       465.4   154.2
Dr. No                           1962       Terence Young       448.8     7.0
For Your Eyes Only               1981           John Glen       449.4    60.2
GoldenEye                        1995     Martin Campbell       518.5    76.9
Goldfinger                       1964        Guy Hamilton       820.4    18.6
Licence to Kill                  1989           John Glen       250.9    56.7
Live and Let Die                 1973        Guy Hamilton       460.3    30.8
Moonraker                        1979       Lewis Gilbert       535.0    91.5
Never Say Never Again            1983      Irvin Kershner       380.0    86.0
Octopussy                        1983           John Glen       373.8    53.9
On Her Majesty's Secret Service  1969       Peter R. Hunt       291.5    37.3
Quantum of Solace                2008        Marc Forster       514.2   181.4
Skyfall                          2012          Sam Mendes       943.5   170.2
Spectre                          2015          Sam Mendes       726.7   206.3
The Living Daylights             1987           John Glen       313.5    68.8
The Man with the Golden Gun      1974        Guy Hamilton       334.0    27.7
The Spy Who Loved Me             1977       Lewis Gilbert       533.0    45.1
The World Is Not Enough          1999       Michael Apted       439.5   158.3
Thunderball                      1965       Terence Young       848.1    41.9
Tomorrow Never Dies              1997  Roger Spottiswoode       463.2   133.9
You Only Live Twice              1967       Lewis Gilbert       514.2    59.9

In [17]:
# b) columns: .pop() method

bond.pop("Actor") # targets single column; gives back a Series, deletes Series from Df & changes Df in-place

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [18]:
bond # actor column is deleted

,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,John Glen,275.2,54.5,9.1
Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4

In [19]:
# c) columns: del keyword

del bond["Year"] # just deletes column, does not give it back to you as a Series

In [20]:
bond # Year colummn is deleted

,Director,Box Office,Budget,Bond Actor Salary
Film,,,,
A View to a Kill,John Glen,275.2,54.5,9.1
Casino Royale,Martin Campbell,581.5,145.3,3.3
Casino Royale,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Lee Tamahori,465.4,154.2,17.9
Dr. No,Terence Young,448.8,7.0,0.6
For Your Eyes Only,John Glen,449.4,60.2,NaN
From Russia with Love,Terence Young,543.8,12.6,1.6
GoldenEye,Martin Campbell,518.5,76.9,5.1
Goldfinger,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,John Glen,250.9,56.7,7.9
Live and Let Die,Guy Hamilton,460.3,30.8,NaN
Moonraker,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,Irvin Kershner,380.0,86.0,NaN
Octopussy,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,Marc Forster,514.2,181.4,8.1
Skyfall,Sam Mendes,943.5,170.2,14.5
Spectre,Sam Mendes,726.7,206.3,NaN
The Living Daylights,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,Michael Apted,439.5,158.3,13.5
Thunderball,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,Lewis Gilbert,514.2,59.9,4.4

## 7. Create Random Sample with the `sample` Method

- The `sample` method returns a specified one or more random rows from the DataFrame.
- Customize the `axis` parameter to extract random columns.

In [21]:
# load dataset

bond = pd.read_csv("jamesbond.csv", index_col = "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [22]:
bond.sample() # pull out a random row

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [23]:
bond.sample(n=5) # pull out 5 rows at random

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [24]:
# we can also use to randomly extract columns

bond.sample(n=3, axis = 0) # pull out 3 rows at random: axis = 0 is default value
bond.sample(n=3, axis = 1) # pull out 3 rows at random: we can set to axis = 1

                                 Box Office  Budget  Year
Film
A View to a Kill                      275.2    54.5  1985
Casino Royale                         581.5   145.3  2006
Casino Royale                         315.0    85.0  1967
Diamonds Are Forever                  442.5    34.7  1971
Die Another Day                       465.4   154.2  2002
Dr. No                                448.8     7.0  1962
For Your Eyes Only                    449.4    60.2  1981
From Russia with Love                 543.8    12.6  1963
GoldenEye                             518.5    76.9  1995
Goldfinger                            820.4    18.6  1964
Licence to Kill                       250.9    56.7  1989
Live and Let Die                      460.3    30.8  1973
Moonraker                             535.0    91.5  1979
Never Say Never Again                 380.0    86.0  1983
Octopussy                             373.8    53.9  1983
On Her Majesty's Secret Service       291.5    37.3  1969
Quantum of Solace                     514.2   181.4  2008
Skyfall                               943.5   170.2  2012
Spectre                               726.7   206.3  2015
The Living Daylights                  313.5    68.8  1987
The Man with the Golden Gun           334.0    27.7  1974
The Spy Who Loved Me                  533.0    45.1  1977
The World Is Not Enough               439.5   158.3  1999
Thunderball                           848.1    41.9  1965
Tomorrow Never Dies                   463.2   133.9  1997
You Only Live Twice                   514.2    59.9  1967

## 8. The `nsmallest` and `nlargest` Methods

- The `nlargest` method returns a specified number of rows with the largest values from a given column.
- The `nsmallest` method returns rows with the smallest values from a given column.
- The `nlargest` and `nsmallest` methods are more efficient than sorting the entire DataFrame.

In [25]:
# load dataset

bond = pd.read_csv("jamesbond.csv", index_col = "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [26]:
# Retrieve 4 films with largest Box Office gross

# Way 1: use sort_values 
bond.sort_values("Box Office", ascending = False).head(4)
                 
# Way 2: n-largest (computationally more efficient)
bond.nlargest(n=4, columns = "Box Office") # you can also provide more than 1 column: first sort by first column, for same values in that column, sort on 2nd column etc

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [27]:
# works in same way as nlargest
bond.nsmallest(n=3, columns = "Bond Actor Salary")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

## 9. Filtering with the `where` Method

Another filtering method, next to `[ ]` and `loc`: 

- Similar to square brackets or `loc`, the `where` method filters the original DataFrame with a Boolean Series.
- Different from square brackets and `loc` Pandas will populate rows that do not match the criteria with `NaN` values.
- Leaving in the `NaN` values can be advantageous for certain merge and visualization operations.

In [28]:
# load dataset

bond = pd.read_csv("jamesbond.csv", index_col = "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [29]:
# 3 different ways of filtering:

# create Boolean Series
actor_is_sean_connery = bond["Actor"] == "Sean Connery"

# way 1: subset with square brackets
bond[actor_is_sean_connery]

# way 2: use .loc[]
bond.loc[actor_is_sean_connery]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [30]:
# way 3: use .where-method
bond.where(actor_is_sean_connery) # pass in boolean Series as first parameter: 'condition'
# difference in output: all rows retained, but filled with NaN if not applicable

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

## 10. The `apply` Method with DataFrames

- The `apply` method invokes a function on every column or every row in the DataFrame.
- Pass the uninvoked function as the first argument to the `apply` method.
- Pass the `axis` parameter an argument of `"columns"` to invoke the function on every row.
- Pandas will pass in the row's values as a Series object. We can use accessors like `loc` and `iloc` to extract the column's values for that row.

In [31]:
# load dataset

bond = pd.read_csv("jamesbond.csv", index_col = "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [32]:
# apply method takes a function as an argument
# when invoked on a Series apply method simply calls function on every value
bond["Actor"].apply(len)

Film
A View to a Kill                   11
Casino Royale                      12
Casino Royale                      11
Diamonds Are Forever               12
Die Another Day                    14
Dr. No                             12
For Your Eyes Only                 11
From Russia with Love              12
GoldenEye                          14
Goldfinger                         12
Licence to Kill                    14
Live and Let Die                   11
Moonraker                          11
Never Say Never Again              12
Octopussy                          11
On Her Majesty's Secret Service    14
Quantum of Solace                  12
Skyfall                            12
Spectre                            12
The Living Daylights               14
The Man with the Golden Gun        11
The Spy Who Loved Me               11
The World Is Not Enough            14
Thunderball                        12
Tomorrow Never Dies                14
You Only Live Twice                12
Name: Actor, dtype: int64

In [33]:
# when invoked on Dataframe apply method can call it on every row or every column of values

bond.apply(print,axis=1)

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object
Year                            2006
Actor                   Daniel Craig
Director             Martin Campbell
Box Office                     581.5
Budget                         145.3
Bond Actor Salary                3.3
Name: Casino Royale, dtype: object
Year                        1967
Actor                David Niven
Director              Ken Hughes
Box Office                 315.0
Budget                      85.0
Bond Actor Salary            NaN
Name: Casino Royale, dtype: object
Year                         1971
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  442.5
Budget                       34.7
Bond Actor Salary             5.8
Name: Diamonds Are Forever, dtype: object
Year                           2002
Actor                Pierce Brosnan
Director               Lee Tamahori
Box Office                    465.4
Budget                        154.2
Bond Actor Salary              17.9
Name: Die Another Day, dtype: object
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: Dr. No, dtype: object
Year                        1981
Actor                Roger Moore
Director               John Glen
Box Office                 449.4
Budget                      60.2
Bond Actor Salary            NaN
Name: For Your Eyes Only, dtype: object
Year                          1963
Actor                 Sean Connery
Director             Terence Young
Box Office                   543.8
Budget                        12.6
Bond Actor Salary              1.6
Name: From Russia with Love, dtype: object
Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object
Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object
Year                           1989
Actor                Timothy Dalton
Director                  John Glen
Box Office                    250.9
Budget                         56.7
Bond Actor Salary               7.9
Name: Licence to Kill, dtype: object
Year                         1973
Actor                 Roger Moore
Director             Guy Hamilton
Box Office                  460.3
Budget                       30.8
Bond Actor Salary             NaN
Name: Live and Let Die, dtype: object
Year                          1979
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                   535.0
Budget                        91.5
Bond Actor Salary              NaN
Name: Moonraker, dtype: object
Year                           1983
Actor                  Sean Connery
Director             Irvin Kershner
Box Office                    380.0
Budget                         86.0
Bond Actor Salary               NaN
Name: Never Say Never Again, dtype: object
Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object
Year                           1969
Actor                George Lazenby
Director              Peter R. Hunt
Box Office                    291.5
Budget                         37.3
Bond Actor Salary               0.6
Name: On Her Majesty's Secret Service, dtype: object
Year                         2008
Actor                Daniel Craig
Director             Marc Forster
Box Office                  514.2
Budget                      181.4
Bond Actor Salary             8.1
Name: Quantum of Solace, dtype: object
Year                         2012
Actor                Daniel Craig
Director               Sam Mendes
Box Office                  943.5
Budget                      170.2
Bond Actor Salary            14.5
Name: Skyfall, dtype: object
Year                         2015
Actor                Daniel Craig
Director               Sam Mendes
Box Office                  726.7
Budget                      206.3
Bond Actor Salary             NaN
Name: Spectre, dtype: object
Year                           1987
Actor                Timothy Dalton
Director                  John Glen
Box Office                    313.5
Budget                         68.8
Bond Actor Salary               5.2
Name: The Living Daylights, dtype: object
Year                         1974
Actor                 Roger Moore
Director             Guy Hamilton
Box Office                  334.0
Budget                       27.7
Bond Actor Salary             NaN
Name: The Man with the Golden Gun, dtype: object
Year                          1977
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                   533.0
Budget                        45.1
Bond Actor Salary              NaN
Name: The Spy Who Loved Me, dtype: object
Year                           1999
Actor                Pierce Brosnan
Director              Michael Apted
Box Office                    439.5
Budget                        158.3
Bond Actor Salary              13.5
Name: The World Is Not Enough, dtype: object
Year                          1965
Actor                 Sean Connery
Director             Terence Young
Box Office                   848.1
Budget                        41.9
Bond Actor Salary              4.7
Name: Thunderball, dtype: object
Year                               1997
Actor                    Pierce Brosnan
Director             Roger Spottiswoode
Box Office                        463.2
Budget                            133.9
Bond Actor Salary                  10.0
Name: Tomorrow Never Dies, dtype: object
Year                          1967
Actor                 Sean Connery
Director             Lewis Gilbert
Box Office                   514.2
Budget                        59.9
Bond Actor Salary              4.4
Name: You Only Live Twice, dtype: object

Film
A View to a Kill                   None
Casino Royale                      None
Casino Royale                      None
Diamonds Are Forever               None
Die Another Day                    None
Dr. No                             None
For Your Eyes Only                 None
From Russia with Love              None
GoldenEye                          None
Goldfinger                         None
Licence to Kill                    None
Live and Let Die                   None
Moonraker                          None
Never Say Never Again              None
Octopussy                          None
On Her Majesty's Secret Service    None
Quantum of Solace                  None
Skyfall                            None
Spectre                            None
The Living Daylights               None
The Man with the Golden Gun        None
The Spy Who Loved Me               None
The World Is Not Enough            None
Thunderball                        None
Tomorrow Never Dies                None
You Only Live Twice                None
dtype: object